
<html>
  <head>
    <style>

    #red{
      background: red;
    }

    #white{
      background: white;
    }

    #green{
      background: green;
    }
    </style>
  </head>
  <body id=<%=id%>>
    <h4><%= message %></h4>
    <p>The Secret Number is <%= session["number"] %></p>
  </body>
</html>


<form>
  <input type='text' name='guess' />
  <input type='submit' value='Guess!' />
</form>











